.layout-dashboard {
  &__wrap {
    background-color: $gray-lighter;
    min-height: calc(100vh - #{$header-height-mobile});

    @include collapseUp() {
      min-height: calc(100vh - #{$header-height-desktop});
    }
  }

  &__content {
    margin: $spacing-unit--mdl 0;

    @include collapseUp() {
      margin: $spacing-unit--l 0;
    }
  }
}
