.layout-dashboard {
  background-color: $black-checkout-bg;
  padding-top: $header-height-mobile;

  @include collapseUp() {
    padding-top: $header-height-desktop;
  }

  &__wrap {
    min-height: calc(100vh - #{$header-height-mobile});
    padding: $spacing-unit--mdl 0;

    @include collapseUp() {
      min-height: calc(100vh - #{$header-height-desktop});
    }
  }
}
