a:not(.btn) {
  color: $blue;
  // transition: color .2s ease-in-out;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

a:disabled {
  pointer-events: none;
  user-select: none;
}
