{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "#root": "./src"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": false
      }
    ]
  ],
  "presets": [
    "next/babel"
  ]
}
