$header-height-mobile: 50px;
$header-height-desktop: 100px;
$copyright-height-desktop: 60px;
$copyright-height-mobile: 64px;

$account-card-lg-padding-x-mobile: 23px;
$account-card-lg-padding-y-mobile: 11px;
$account-card-lg-padding-x-desktop: 46px;
$account-card-lg-padding-y-desktop: 22px;
