// =======================================
//    #UTILITY - FONTS
// =======================================

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff2 woff, $local: null) {
  $src: null;

  @if $local {
    $src: local($local);
  }

  $formats: (
    otf: 'opentype',
    ttf: 'truetype'
  );

  @each $ext in $exts {
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $ext)) format(quote($format)), comma);
  }

  @font-face {
    font-display: swap;
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// Fonts.com license for Helvetic web fonts
// @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=72ea6c2d-4925-4118-8217-5f369f953766&fontids=5664067,5664081,5664085,5664089,5664093,5664098,5664103,5664107,5664111,5664149");

// Usage
// @include font-face($name: 'Roboto', $path: '../fonts/roboto/roboto-regular', $weight: 400, $style: normal);
// or
// @include font-face('Roboto', '../fonts/roboto/roboto-regular', 400, normal);

// Lato
@include font-face('Lato', '/static/fonts/Lato/Lato-Regular', 400, normal);
@include font-face('Lato', '/static/fonts/Lato/Lato-Italic', 400, italic);
@include font-face('Lato', '/static/fonts/Lato/Lato-Black', 900, normal);

// D-DIN
@include font-face('D-DIN', '/static/fonts/DIN/D-DIN', 400, normal);
@include font-face('D-DIN', '/static/fonts/DIN/D-DIN-Bold', 700, normal);
@include font-face('D-DIN', '/static/fonts/DIN/D-DIN-Italic', 400, italic);
@include font-face('D-DIN Condensed', '/static/fonts/DIN/D-DINCondensed', 400, normal);
@include font-face('D-DIN Condensed', '/static/fonts/DIN/D-DINCondensed-Bold', 700, normal);
@include font-face('D-DIN Expanded', '/static/fonts/DIN/D-DINExp', 400, normal);
@include font-face('D-DIN Expanded', '/static/fonts/DIN/D-DINExp-Italic', 400, italic);
@include font-face('D-DIN Expanded', '/static/fonts/DIN/D-DINExp-Bold', 700, normal);

// System Font stack
// https://css-tricks.com/snippets/css/system-font-stack/
$systemFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
// https://css-tricks.com/snippets/css/system-font-stack/#comment-1606328
$systemSerif: 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times','Source Serif Pro', serif;

$font-body: 'Lato', $systemFont;

$font-heading: 'D-DIN', $systemFont;
$font-heading-condensed: 'D-DIN Condensed', $systemFont;
$font-heading-expanded: 'D-DIN Expanded', $systemFont;


// ========================================================================= //
//  Web Fonts
//
//
//  FOR REFERENCE: Font-weights by numeric value / name.
//  Side note: it is recommended that we to use the numeric value here to help clarify exactly which weight is getting referenced to.
//    100 = thin
//    200 = extra-light
//    300 = light
//    400 = normal, book
//    500 = medium
//    600 = demi-bold / semi-bold
//    700 = bold
//    800 = heavy / extra-bold / heavy
//    900 = black / extra-black / ultra-black
//
// ========================================================================= //
