@font-face {
  font-family: 'maicon';
  src:  url('/static/fonts/maicon/fonts/maicon.woff2?1qo22k') format('woff2'),
    url('/static/fonts/maicon/fonts/maicon.woff?1qo22k') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="maicon-"], [class*=" maicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-display: block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  visibility: hidden;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @at-root .icons-loaded & {
    font-family: 'maicon' !important;
    visibility: visible;
  }
}
.maicon-map-marker:before {
  content: "\e919";
}
.maicon-phone:before {
  content: "\e91a";
}
.maicon-visualisation:before {
  content: "\e916";
}
.maicon-database:before {
  content: "\e917";
}
.maicon-productivity:before {
  content: "\e918";
}
.maicon-power-bi:before {
  content: "\e90d";
}
.maicon-sliders-h:before {
  content: "\e915";
}
.maicon-long-arrow-alt-right:before {
  content: "\e914";
}
.maicon-chevron-up:before {
  content: "\e913";
}
.maicon-star:before {
  content: "\e912";
}
.maicon-play-triangle:before {
  content: "\e911";
}
.maicon-minus:before {
  content: "\e90f";
}
.maicon-times:before {
  content: "\e910";
}
.maicon-badge-alt:before {
  content: "\e90e";
}
.maicon-excel:before {
  content: "\e90b";
}
.maicon-mysql:before {
  content: "\e90c";
}
.maicon-envelope:before {
  content: "\e90a";
}
.maicon-check:before {
  content: "\e909";
}
.maicon-recommended:before {
  content: "\e908";
}
.maicon-chevron-down:before {
  content: "\e905";
}
.maicon-chevron-right:before {
  content: "\e906";
}
.maicon-user:before {
  content: "\e907";
}
.maicon-maven:before {
  content: "\e903";
}
.maicon-team:before {
  content: "\e904";
}
.maicon-play:before {
  content: "\e900";
}
.maicon-badge:before {
  content: "\e901";
}
.maicon-quiz:before {
  content: "\e902";
}
