$white: #FFFFFF;
$white-alt: #E9E9E9;

$black: #252525;
$black-light: #2B2B2B;
$black-dark: #212121;
$black-auth: #2D2D2D;
$black-checkout-bg: #272727;
$black-alt: #372D2D;

$blue: #20E2D7;
$blue-gray: #576A84;

$yellow: #F9FEA5;

$red: #E24D20;

$gray: #9D9D9D;
$gray-medium: #929292;
$gray-medium-2: #757575;
$gray-input: #4F4F4F;
$gray-dark: #646464;
$gray-darker: #5C5C5C;
$gray-darkest: #5B5B5B;
$gray-light: #CCCCCC;
$gray-light-2:#CECECE;
$gray-light-3:#ECECEC;
$gray-lighter: #F6F6F6;
$gray-border: #979797;
$gray-copy: #808080;


$brand-gradient: linear-gradient(90deg, $blue 0%, $yellow 100%);

$body-color: $black;
