$spacing-unit: 1.5rem;
$spacing-unit--xxs: $spacing-unit / 8; // 1.8px
$spacing-unit--xs: $spacing-unit / 4; // 3.75px
$spacing-unit--sm: $spacing-unit / 3; // 5px
$spacing-unit--half: $spacing-unit / 2; // 7.5px
$spacing-unit--ss: $spacing-unit / 1.66; // ~ 10px
$spacing-unit--md: $spacing-unit * 1.33; // ~ 20px
$spacing-unit--mdl: $spacing-unit * 1.6; // ~ 24px
$spacing-unit--l: $spacing-unit * 2; // 30px
$spacing-unit--lmm: $spacing-unit * 2.33333333; // ~35px
$spacing-unit--lml: $spacing-unit * 2.66; // ~ 40px
$spacing-unit--ll: $spacing-unit * 3; // ~ 45px
$spacing-unit--xlx: $spacing-unit * 3.33333; // ~ 50px
$spacing-unit--xl: $spacing-unit * 4; // ~ 60px
$spacing-unit--xll: $spacing-unit * 5; // 75px
$spacing-unit--xxl: $spacing-unit * 8; // 120px
$spacing-unit--xxxl: $spacing-unit * 10; // 150px
