@font-face {
  font-family: 'maicon';
  src:  url('/static/fonts/maicon/fonts/maicon.woff2?1qo22k') format('woff2'),
    url('/static/fonts/maicon/fonts/maicon.woff?1qo22k') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="maicon-"], [class*=" maicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-display: block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  visibility: hidden;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @at-root .icons-loaded & {
    font-family: 'maicon' !important;
    visibility: visible;
  }
}

.maicon-chevron-down:before {
  content: "\e905";
}
.maicon-chevron-right:before {
  content: "\e906";
}
.maicon-user:before {
  content: "\e907";
}
.maicon-maven:before {
  content: "\e903";
}
.maicon-team:before {
  content: "\e904";
}
.maicon-play:before {
  content: "\e900";
}
.maicon-badge:before {
  content: "\e901";
}
.maicon-quiz:before {
  content: "\e902";
}
