$white: #ffffff;
$white-alt: #e9e9e9;
$white-gray: #f0f0f0;

$black: #252525;
$black-2: #525252;
$black-light: #2b2b2b;
$black-dark: #212121;
$black-auth: #2d2d2d;
$black-checkout-bg: #272727;
$black-alt: #372d2d;

$blue: #20e2d7;
$blue-gray: #576a84;

$yellow: #f9fea5;
$yellow-medium: #f3fda6;

$red: #e24d20;

$gray: #9d9d9d;
$gray-medium: #929292;
$gray-medium-2: #757575;
$gray-medium-3: #7e7e7e;
$gray-input: #4f4f4f;
$gray-dark: #646464;
$gray-darker: #5c5c5c;
$gray-darkest: #5b5b5b;
$gray-light: #cccccc;
$gray-light-2: #cecece;
$gray-light-3: #ececec;
$gray-lighter: #f6f6f6;
$gray-lightest: #f3f3f3;
$gray-border: #979797;
$gray-copy: #808080;

$brand-gradient: linear-gradient(90deg, $blue 0%, $yellow 100%);

$body-color: $black;
