.courses-learning-paths {
  &__main {
    @extend .course-detail__main;
    display: block;
  }

  &__tabs {
    @include list-unstyled();
    margin: 0;
    position: relative;
  }

  &__tab {
    .loader {
      z-index: index($globalIndex, loader);
    }
  }
}
