.courses-learning-paths {
  &__main {
    font-size: 1.6rem;
    // overflow: hidden;
    padding: $spacing-unit--l 0;

    @include collapseUp() {
      padding: $spacing-unit--ll 0;
    }
  }

  &__tabs {
    @include list-unstyled();
    margin: 0;
    position: relative;
  }

  &__tab {
    .async-loader {
      z-index: index($globalIndex, loader);
    }
  }
}
