.page-credentials {
  ul {
    @include list-unstyled();
    display: grid;
    grid-gap: $spacing-unit;
    grid-template-columns: 1fr 1fr;
    margin: 0;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(lg) {
      grid-gap: 7rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    li {
      height: 0;
      padding-top: 100%;
      position: relative;

      .credential {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

  }

  .credential {
    background-color: $white;
    box-shadow: none;
    margin: 0 auto;
    max-width: 229px;
    padding: $spacing-unit;
    transition: box-shadow .3s ease-in-out;

    @include media-breakpoint-up(md) {
      padding: $spacing-unit--md;
    }

    @include media-breakpoint-up(lg) {
      padding: $spacing-unit--l;
    }

    .image {
      padding-bottom: 100%;
    }

    .tooltip {
      top: $spacing-unit;
    }

    &:hover {
      box-shadow: 8px 8px 15px 0 rgba(0,0,0,0.1);

      .tooltip {
        opacity: 1;
      }
    }
  }
}
