.skills-assessment-results {
  @extend .skills-assessment;

  header {
    h1 {
      color: $yellow;
      font-family: $font-body;
      font-size: 1.2rem;
      font-weight: 700;
      margin: 0 0 $spacing-unit--md;
      text-transform: uppercase;
    }
  }

  &__recommended-path {
    .course-carousel {
      padding-top: 0;
    }
  }
}
