.skills-assessment {
  padding: 4vh 0;

  &__pagination {
    color: $gray-light-2;
    font-family: $font-heading;
    font-size: 1.8rem;
    margin: 0 auto $spacing-unit;
    max-width: 710px;
    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
  }

  &__content {
    margin: 0 0 $spacing-unit--l;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md) {
      margin: 0 0 $spacing-unit--ll;
    }
  }

  &__footer {
    text-align: center;

    .btn {
      min-width: 105px;
    }

    .btn + .btn {
      margin-left: $spacing-unit--ss;
    }
  }
}
