.thanks-page {
  @keyframes pulse {
    0%   { opacity:1; }
    50%  { opacity:0.6; }
    100% { opacity:1; }
  }

  &__content {
    text-align: center;

    p {
      animation: 2s pulse ease infinite alternate;
      color: $white;
      opacity: 0;

      &:last-of-type {
        margin: $spacing-unit--md 0 0 !important;
      }

      @at-root .fonts-loaded {
        opacity: 1;
      }
    }
  }
}
