.page-training {
  &__content {
    max-width: $brochureContentContainer;
    margin: 0 auto $spacing-unit--l;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
      margin: 0 auto $spacing-unit--xl;
    }
  }
}
