.welcome-survey-results {
  @extend .welcome-survey;
  position: relative;

  &__loading {
    left: 0;
    margin: 12vh auto;
    max-width: 411px;
    right: 0;
    text-align: center;

    p {
      color: $white;
      font-size: 1.8rem;
      line-height: 1.38;
      margin: $spacing-unit--md 0;
    }
  }

  header {
    h1 {
      color: $yellow;
      font-family: $font-body;
      font-size: 1.2rem;
      font-weight: 700;
      margin: 0 0 $spacing-unit--md;
      text-transform: uppercase;
    }
  }

  &__recommended-path {
    .course-carousel {
      padding-top: 0;
    }
  }

  &__recommended-path-courses-toggle {
    @extend %btn--empty-yellow-medium;
    border-radius: 24px;
    color: $white;
    font-size: 1.4rem;
    height: 41px;
    padding: 9px 30px;
    position: relative;
    width: 246px;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    .maicon {
      position: absolute;
      right: 32px;
    }
  }

  &__hr {
    border: 1px solid $white-gray;
    margin: $spacing-unit--xlx 0 $spacing-unit--mdl;
    opacity: 0.5;

    @include media-breakpoint-up(desktop) {
      margin: $spacing-unit--xll 0 $spacing-unit--xlx;
    }
  }

  .course-carousel {
    h2 {
      display: flex;
      flex-wrap: wrap;

      span:first-child {
        order: 1;

        @include media-breakpoint-up(desktop) {
          font-size: 2.9rem;
        }
      }

      .eyelash {
        display: block;
        flex: 0 0 100%;
        letter-spacing: 0.1rem;
        margin: 0 0 $spacing-unit--sm;
        order: 0;

        @include media-breakpoint-up(desktop) {
          font-size: 1.2rem;
        }
      }
    }
    .flickity-prev-next-button {
      color: $white;
    }
  }
}
