.brochure-title {
  font-size: 3rem;
  font-weight: 900;
  margin: 0 0 $spacing-unit--md;
  position: relative;
  padding-bottom: $spacing-unit;
  text-align: center;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
    margin: 0 0 $spacing-unit--l;
  }

  &::after {
    background: $brand-gradient;
    bottom: 0;
    content: ' ';
    height: 2px;
    left: calc(50% - 72.5px);
    position: absolute;
    width: 145px;
  }

  &.align-left {
    text-align: left;

    &::after {
      left: 0;
    }
  }
}
