.async-loader {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: opacity .2s ease-in-out, visibility 0s 0.2s;
  z-index: index($globalIndex, 'loader');

  @keyframes loader {
    0% {
      stroke-dasharray: 84.0955352783 104.0955352783;
    }
    100% {
      stroke-dasharray: 178.19107055664062 10;
    }
  }
  @keyframes loader2 {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -188.19107055664062;
    }
  }

  .circle {
    animation: 8s loader ease infinite alternate,  2s loader2 linear infinite;
    stroke-linecap: round;
    stroke-width: 5;
    stroke-dasharray: 94.0955352783 94.0955352783;
    stroke-dashoffset: 0;
  }

  @keyframes pulse {
    0%   { opacity:1; }
    50%  { opacity:0.6; }
    100% { opacity:1; }
  }

  p {
    animation: 2s pulse ease infinite alternate;
    color: $white;
    font-size: 1.6rem;
    margin-left: -50%;
    line-height: 1.55;
    text-align: center;
    width: 200%;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
    }
  }

  &--center {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &.top-center {
    left: 50%;
    top: 0;
    transform: translate3d(-50%, 0, 0);
  }

  &.relative {
    position: relative;
  }

  &.loading {
    opacity: 1;
    visibility: visible;
    transition: all .2s ease-in-out;
  }
}
