.method-item {
  display: flex;

  &__step {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 45px;
    margin-right: 1.2rem;

    @include media-breakpoint-up(lg) {
      color: $black;
      font-size: 4.5rem;
      line-height: 40px;
      margin-right: $spacing-unit;
    }

    @include media-breakpoint-up(xl) {
      font-size: 4.5rem;
      line-height: 40px;
      margin-right: 2.5rem;
    }
  }

  &__title {
    align-items: center;
    display: flex;
    font-family: $font-body;
    font-size: 1.8rem;
    font-weight: 900;
    height: 45px;
    line-height: 1.66;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      align-items: flex-start;
      font-size: 3rem;
      height: 50px;
      // line-height: 30px;
      margin-bottom: 0;
      white-space: nowrap;
    }

    @include media-breakpoint-up(xl) {
      font-size: 3rem;
      height: 50px;
    }
  }

  &__description {
    color: $black-2;
    font-size: 1.2rem;
    line-height: 1.66;
    margin-bottom: $spacing-unit;
    max-width: 500px;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
      line-height: 1.5;
      margin-bottom: $spacing-unit;
      // max-width: none;
      opacity: 0;
      transform: translate3d(0, -10px, 0);
      transition: all .2s .2s ease-in-out;
    }
  }

  .btn {
    font-size: 1rem;

    @include media-breakpoint-up(lg) {
      align-items: center;
      display: inline-flex;
      justify-content: center;
      min-height: 4rem;
      opacity: 0;
      transform: scale(0.9);
      transition: all .2s .3s ease-in-out;
    }
  }

  .image {
    margin-top: $spacing-unit--md;
  }
}
