.method-header {
  margin: 0 auto $spacing-unit--l;
  max-width: 710px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin: 0 auto 0;
  }

  h2 {
    font-size: .9rem;
    font-weight: 900;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      font-size: 1.6rem;
    }

    span:first-child {
      display: block;
      letter-spacing: 2.25px;
      margin-bottom: .5rem;

      @include media-breakpoint-up(lg) {
        letter-spacing: 4px;
        margin-bottom: 1rem;
      }
    }

    span:nth-child(2) {
      background: $brand-gradient;
      font-size: 3.3em;
      padding: 4px 6px;
      white-space: nowrap;

      @include media-breakpoint-up(lg) {
        font-size: 3.4em;
      }
    }
  }

  p {
    color: $black-2;
    font-size: 1.6rem;
    line-height: 1.66;
    margin: $spacing-unit 0 0;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
      margin: $spacing-unit--mdl 0 0;
    }
  }
}
