.tooltip {
  background-color: $black;
  border-radius: .5rem;
  color: $white;
  font-size: 1.1rem;
  font-weight: 700;
  opacity: 0;
  left: 0;
  padding: .5rem .8rem;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -.5rem;
  transition: opacity .2s ease-in-out;
  z-index: index($globalIndex, tooltip);

  &.centered {
    left: 50%;
    transform: translateX(-50%);
  }
}
