.account-list {
  &:not(:last-child) {
    margin-bottom: $spacing-unit--l;
  }

  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.7;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__header {
    border-bottom: 1px solid $gray-light-3;
    display: none;
    font-size: 1.4rem;

    @include media-breakpoint-only(sm) {
      font-size: 1.2rem;
    }

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  &__header-label {
    font-weight: 700;
  }

  &__item {
    border-bottom: 1px solid $gray-light-3;
    font-size: 1.4rem;
    margin: 0 0 $spacing-unit;
    padding: $spacing-unit 0;

    @include media-breakpoint-up(sm) {
      margin: 0;
      padding: 0;
    }

    @include media-breakpoint-only(sm) {
      font-size: 1.2rem;
    }

    &__block {
      display: grid;
      grid-template-columns: 12rem 1fr;
      margin: 0 0 $spacing-unit--xs;

      @include media-breakpoint-up(sm) {
        align-items: center;
        display: flex;
        margin: 0;
        min-height: 50px;
      }

      @include media-breakpoint-up(md) {
        min-height: 40px;
      }

      &.buttons {
        margin-top: $spacing-unit--ss;

        @include media-breakpoint-up(sm) {
          display: flex;
          justify-content: flex-end;
          margin-top: 0;
        }

        .btn {
          margin: $spacing-unit--ss 0;
        }
      }

      &.card {
        display: block;

        .value {
          display: block;
          width: 100%;
        }
      }
    }

    .label {
      font-weight: 700;

      @include media-breakpoint-up(sm) {
        display: none;
      }
    }

    .value {
      text-transform: capitalize;
    }
  }
}