.account-invoice-list {
  .account-list {
    &__item {
      &__block {
        &.link {
          display: block;
          margin: $spacing-unit--ss 0;
          
          @include media-breakpoint-up(sm) {
            display: none;
          }
        }
      }
    }
  }
}