.course-filters {
  font-size: 1.4rem;
  padding-right: $spacing-unit;

  > h4 {
    color: $black-2;
    font-family: $font-body;
    font-size: 1em;
    margin: 0 0 $spacing-unit;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      margin: 0 0 $spacing-unit--l;
    }
  }

  .btn {
    border-radius: 20.5px;
    height: 4rem;
  }
}
