.credential-card {
  background-color: $white;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.1);
  color: $black;
  font-size: 1.8rem;
  padding: 1em 1em 2.2em;
  position: relative;

  @include media-breakpoint-up(lg) {
    font-size: 1.9rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2rem;
  }

  &::before {
    align-items: center;
    background-color: $white;
    border-radius: 50%;
    color: $black;
    display: flex;
    font-family: 'maicon';
    font-size: 1em;
    height: 4.2rem;
    justify-content: center;
    left: 1.1rem;
    position: absolute;
    top: 1.1rem;
    width: 4.2rem;
  }

  .image {
    height: 11.1rem;
    margin: 0 auto $spacing-unit;
    width: 11.1rem;
  }

  > p {
    font-weight: 900;
    margin: $spacing-unit auto;
    text-align: center;
  }

  .btn {
    @include btnFixed(40px, 100px, 20px);
    background-color: $white;
    border: 1px solid $black;
    display: flex;
    font-size: .55em;
    margin: 0 auto;
    text-transform: none;
  }

  &.completed {
    background: $brand-gradient;

    &::before {
      content: "\e909";
    }
  }
}
