.dashboard-course {
  font-size: 1.4rem;
  display: flex;

  @include media-breakpoint-up(sm) {
    font-size: 1.6rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.6rem;
  }

  &__badge {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      flex: 0 0 60px;
      margin-right: $spacing-unit--md;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 0 110px;
    }
  }

  &__content {
    > h5 {
      color: $black-2;
      font-family: $font-body;
      font-size: 1.25em;
      font-weight: 900;
      line-height: 1.25;
    }

    > p {
      color: $gray-medium-3;
      line-height: 1.5;
      margin: 0 0 $spacing-unit;
    }

    @include media-breakpoint-up(md) {
      flex: 1 1 75%;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: $spacing-unit--md 0 0;

    .btn {
      font-size: .7em;
    }

    .btn--primary-solid {
      @include btnFixed(40px, 145px, 20px);
    }

    .btn--empty {
      @include btnFixed(40px, 103, 20px);
    }
  }
}
