.dashboard-card {
  background-color: $white;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.1);
  padding: 1.6rem 2.2rem;
  position: relative;

  &::after {
    background-color: rgba($white, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &.loading {
    &::after {
      content: ' ';
    }

    .loader {
      z-index: 1;
    }
  }



  &__title {
    font-family: $font-body;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.2;
    margin: 0 0 $spacing-unit;
  }

  &--lg {
    padding: $account-card-lg-padding-y-mobile $account-card-lg-padding-x-mobile;
    margin: 16px auto;

    @include media-breakpoint-up(lg) {
      padding: $account-card-lg-padding-y-desktop $account-card-lg-padding-x-desktop;
      margin: 32px auto;
    }
  }
}
