.dashboard-credential-list {
  margin: 0 0 $spacing-unit--l;
  position: relative;

  @include collapseUp() {
    margin: 0 0 $spacing-unit--xl;
  }

  .async-loader {
    margin: 0 auto;
  }

  > h4 {
    align-items: center;
    color: $black;
    display: flex;
    font-family: $font-body;
    font-size: .875em;
    font-weight: 900;
    margin: 0 0 $spacing-unit--md;
    text-transform: uppercase;

    span {
      background-color: #BEBEBE;
      display: block;
      flex: 1;
      height: 1px;
      margin-left: $spacing-unit--md;
    }
  }

  ul {
    @include list-unstyled();
    display: grid;
    grid-gap: $spacing-unit;
    margin: 0;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    li {
      height: 100%;

      .credential-card {
        height: 100%;
      }
    }
  }
}
