.dashboard-path {
  color: $black-2;
  display: flex;
  font-size: 1.4rem;
  flex-wrap: wrap;

  @include media-breakpoint-up(sm) {
    font-size: 1.6rem;
  }

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    font-size: 1.4rem;
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.6rem;
  }

  &__badge {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      flex: 0 0 60px;
      margin-right: $spacing-unit--md;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 0 110px;
    }
  }

  &__content {
    margin-bottom: $spacing-unit--md;

    > h4 {
      color: $black-2;
      font-family: $font-body;
      font-size: 1.25em;
      font-weight: 900;
      line-height: 1.25;
    }

    > p {
      color: $gray-medium-3;
      line-height: 1.5;
      margin: 0 0 $spacing-unit;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-right: $spacing-unit;
    }

    @include media-breakpoint-up(xl) {
      margin-right: $spacing-unit--l;
    }
  }

  &__footer {
    margin-top: $spacing-unit;

    @include media-breakpoint-up(lg) {
      margin-top: $spacing-unit--md;
    }

    .btn {
      @include btnFixed(40px, auto, 20px);
      font-size: .68em;
      margin-bottom: $spacing-unit--ss;
      margin-right: $spacing-unit;

      @include media-breakpoint-up(lg) {
        margin-right: $spacing-unit--md;
      }

      + .btn {
        margin-bottom: $spacing-unit--ss;
        margin-right: 0;

        @include media-breakpoint-up(lg) {
          margin-right: 0;
        }
      }
    }
  }

  &__details {
    flex: 0 0 100%;

    @include media-breakpoint-up(md) {
      flex: 0 0 20%;
      max-width: none;
    }

    @include media-breakpoint-up(lg) {
      flex: 0 0 30%;
    }

    .progress-meter {
      p {
        font-size: .68em;
      }

      &__readout {
        font-size: .875em;

        @include media-breakpoint-between(md, lg) {
          flex: 0 1 16px;
        }
      }
    }

    .product-meta {
      margin-top: $spacing-unit;

      @include media-breakpoint-between(md, lg) {
        grid-template-columns: 1fr;
      }

      li {
        .label {
          margin-bottom: .7rem;
        }

        .value {
          i {
            font-size: 1em;
            margin-right: $spacing-unit;
          }
        }
      }
    }
  }
}
