.dashboard-credential-icons {
  ul {
    @include list-unstyled();
    display: grid;
    grid-gap: $spacing-unit;
    grid-template-columns: 1fr 1fr;
    margin: 0;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    li {
      height: 100%;

      .dashboard-credential {
        height: 100%;
      }
    }
  }
}
