.modal {
  $self: &;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: index($globalIndex, modal);

  &:focus-within {
    outline: none;
  }

  &__fog {
    background-color: rgba($black, 0.8);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: index($globalIndex, modalFog);


    &:focus {
      outline: none;
    }
  }

  &__inner {
    bottom: 0;
    left: 0;
    opacity: 1;
    position: static;
    right: 0;
    top: 0;
    z-index: index($globalIndex, modalInner);
  }

  &__body {
    position: absolute;
    z-index: index($globalIndex, modalBody);

    &[data-position="center"] {
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &[data-position="top-center"] {
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }

  &__close {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    color: $white;
    display: flex;
    font-size: 4rem;
    height: 40px;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
  }

  &--md {
    #{$self}__body {
      min-width: 75%;
    }
  }

  &--lg {
    #{$self}__body {
      min-width: 75%;
    }
  }

  &--full {
    #{$self}__body {
      height: 100%;
      min-width: 100%;
      overflow-y: auto;
    }
  }

  &--video {
    #{$self}__body {
      padding: 6rem $spacing-unit;

      @include media-breakpoint-up(md) {
        padding: 6rem;
      }
    }
  }

  &--mission-item {
    position: fixed;

    #{$self}__fog {
      position: fixed;
    }

    #{$self}__body {
      background-color: rgba(37,37,37,0.95);
      padding-top: 4.5rem;
      position: fixed;
    }

    #{$self}__close {
      font-size: 2rem;
    }
  }

  &--page {
    position: fixed;

    #{$self}__fog {
      position: fixed;
    }

    #{$self}__close {
      color: $black;
      font-size: 3rem;
      position: fixed;
    }

    #{$self}__body {
      background-color: $white;
      height: 100%;
      overflow: auto;
      padding: $spacing-unit--md $spacing-unit;
      position: fixed;

      @include media-breakpoint-up(lg) {
        min-width: 874px;
      }
    }
  }
}
