@font-face {
  font-family: 'maicon';
  src:  url('fonts/maicon.eot?ppea6c');
  src:  url('fonts/maicon.eot?ppea6c#iefix') format('embedded-opentype'),
    url('fonts/maicon.woff2?ppea6c') format('woff2'),
    url('fonts/maicon.ttf?ppea6c') format('truetype'),
    url('fonts/maicon.woff?ppea6c') format('woff'),
    url('fonts/maicon.svg?ppea6c#maicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="maicon-"], [class*=" maicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'maicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.maicon-envelope:before {
  content: "\e90a";
}
.maicon-check:before {
  content: "\e909";
}
.maicon-recommended:before {
  content: "\e908";
}
.maicon-chevron-down:before {
  content: "\e905";
}
.maicon-chevron-right:before {
  content: "\e906";
}
.maicon-user:before {
  content: "\e907";
}
.maicon-maven:before {
  content: "\e903";
}
.maicon-team:before {
  content: "\e904";
}
.maicon-play:before {
  content: "\e900";
}
.maicon-badge:before {
  content: "\e901";
}
.maicon-quiz:before {
  content: "\e902";
}
