.global-header {
  $self: &;

  @mixin desktopHeader {
    @include collapseUp() {
      @content;
    }
  }

  @include desktopHeader() {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include desktopHeader() {
    height: auto;
  }

  .headroom {
    background-color: $black;
    transition: background-color .15s ease-in;
    z-index: index($globalIndex, globalHeader) !important;

    @include desktopHeader {
      background-color: transparent;
    }

    &--pinned {
      background-color: $black;
    }
  }

  &__inner {
    align-items: center;
    display: flex;
    height: $header-height-mobile;
    justify-content: space-between;
    padding: .8rem 0;

    @include desktopHeader {
      height: auto;
      justify-content: flex-start;
      padding: 2.7rem 0;
    }
  }

  &__brand {
    align-items: center;
    display: flex;
    height: 28px;
    flex: 0 1 120px;
    width: 120px;

    @include desktopHeader {
      height: 46px;
      flex: 0 1 192px;
      margin-right: $spacing-unit--l + .5rem;
      width: 192px;
    }

    &:focus {
      outline: none;
    }
  }

  nav {
    align-items: center;
    display: none;
    flex: 1;
    justify-content: space-between;

    @include desktopHeader {
      display: flex;
      font-size: 1.1rem;
      line-height: 1.3rem;
      text-transform: uppercase;
    }

    > ul {
      @include list-unstyled();

      @include desktopHeader {
        @include list-inline();
        align-items: center;
        margin: 0;
      }

      &:not(:last-child) {
        @include desktopHeader {
          margin-right: $spacing-unit--l;
        }
      }

      > li {
        &:not(:last-child) {
          @include desktopHeader {
            margin-right: $spacing-unit--l;
          }
        }

        &.dashboard-btn {
          display: none;

          @include media-breakpoint-up(sm) {
            display: block;
          }
        }

        > a {
          color: $white;
          position: relative;

          i {
            color: $blue;
            font-size: 1.4rem;
            margin-right: $spacing-unit--ss;
          }

          &:visited {
            color: $white;
            transition: none;
          }

          &:focus {
            outline: none;
          }

          &:not(.btn):not(.header-user__link) {
            align-items: center;
            display: flex;
            white-space: nowrap;

            &::after {
              background: $brand-gradient;
              bottom: -5px;
              height: 1px;
              left: 0;
              position: absolute;
              transition: width .15s ease-in-out;
              width: 0;

              @include desktopHeader() {
                content: ' ';
              }
            }
          }

          &.btn {
            z-index: index($globalIndex, globalHeader) !important;

            &:focus,
            &:hover {
              color: $black;
            }
          }

          &:not(.btn) {
            &:focus,
            &:hover {
              color: $white;
              text-decoration: none;

              &::after {
                @include desktopHeader() {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    &:last-child {
      ul {
        li {
          &:not(:last-child) {
            @include desktopHeader() {
              margin-right: $spacing-unit--md;
            }
          }
        }
      }
    }
  }

  button {
    color: $white;
  }

  .hamburger {
    display: block;

    @include desktopHeader {
      display: none;
    }
  }

  &__hamburg {
    height: 42px;
    width: 44px;
  }

  &--checkout {
    background-color: $black;

    @include desktopHeader() {
      background-color: $black;
      position: static;
    }

    nav {
      display: flex;

      > ul {
        @include list-inline();
        align-items: center;
        margin: 0;

        > li {
          a {
            &:not(.btn) {
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}
