.hero {
  position: relative;

  &__background {
    background-color: $black;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;

    .image {
      // padding-top: 62.42%;
      &.parallax-enabled {
        top: -40px;

        @include media-breakpoint-up(lg) {
          top: 120px;
        }
      }
    }

    img {
      object-fit: cover;
    }

    *[class^='react-parallax'] {
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    color: $white;

    h1 {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1;
      margin: 0 0 0.2rem;
      text-transform: uppercase;

      @include media-breakpoint-up(md) {
        font-size: 2.8rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 3.5rem;
      }

      span {
        @include gradient-font;
        display: inline-block;
        font-family: $font-heading;
        font-size: 3.4rem;
        font-weight: 900;
        line-height: 0.88;

        @include media-breakpoint-up(md) {
          font-size: 4rem;
        }

        @include media-breakpoint-up(lg) {
          font-size: 7.5rem;
        }
      }
    }

    p {
      font-size: 1.2rem;
      line-height: 1.3;
      margin: 0.3rem 0 $spacing-unit--l;
      // padding-left: 20px;
      position: relative;

      @include media-breakpoint-up(md) {
        font-size: 1.8rem;
        line-height: 1.5;
        margin: $spacing-unit--md 0 $spacing-unit--ll;
      }
    }

    a {
      font-size: 1rem;

      @include media-breakpoint-up(md) {
        border-radius: 27.5px;
        font-size: 1.2rem;
        padding: 1rem 2rem;
      }

      @include media-breakpoint-up(lg) {
        border-radius: 27.5px;
        font-size: 1.4rem;
        padding: 1.6rem 2.5rem;
        min-width: 230px;
      }
    }
  }

  &__content-inner {
    padding: 5vh 0 10vh;

    @include media-breakpoint-up(md) {
      max-width: 90rem;
    }

    @include media-breakpoint-up(lg) {
      padding: calc(10vh + #{$header-height-desktop}) 0 28vh;
    }
  }
}
