.mission {
  color: $white;
  padding: $spacing-unit--lml 0 $spacing-unit--xxl;
  position: relative;

  @include media-breakpoint-up(lg) {
    padding: 7rem 0 20rem;
  }

  &__background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__header-icon {
    @include gradient-font();
    display: inline-block;
    font-size: 3.5rem;

    @include media-breakpoint-up(md) {
      font-size: 8rem;
    }
  }

  &__copy {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    p:first-child {
      @include gradient-font();
      font-family: $font-heading;
      font-size: 1.4rem;
      font-weight: 900;
      letter-spacing: 2px;
      line-height: 1.1;
      margin: $spacing-unit 0 0;
      text-transform: uppercase;

      @include media-breakpoint-up(md) {
        font-size: 1.6rem;
        margin: $spacing-unit--lmm 0 0;
      }
    }

    h2 {
      font-size: 3rem;
      font-weight: 500;
      line-height: 1;
      margin: $spacing-unit--ss 0;

      @include media-breakpoint-up(md) {
        font-size: 2.8rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 4.1rem;
        margin: $spacing-unit--md 0;
      }

      strong {
        font-weight: 900;
      }
    }

    h2 + p {
      background: none;
      color: $whiteish;
      font-size: 1.2rem;
      letter-spacing: 0;
      line-height: 1.66;
      text-transform: none;

      @include media-breakpoint-up(md) {
        font-size: 1.8rem;
      }
    }

    a {
      @include btnFixed(30px, 143px, 27.5px);
      font-size: 1rem;
      margin-top: $spacing-unit;

      @include media-breakpoint-up(md) {
        @include btnFixed(50px, 200px, 27px);
        font-size: 1.4rem;
        margin-top: $spacing-unit--ll;
      }
    }
  }


  // &__icons {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   grid-row-gap: 2.7rem;
  //   grid-column-gap: 2.7rem;
  //   margin-top: $spacing-unit--md;

  //   @include media-breakpoint-up(md) {
  //     grid-template-columns: 1fr 1fr 1fr 1fr;
  //     grid-row-gap: 6.8rem;
  //     grid-column-gap: 6.8rem;
  //     margin-top: $spacing-unit--ll;
  //   }
  // }

  &__features {
    display: grid;
    grid-gap: $spacing-unit--md;
    grid-template-columns: 1fr;
    margin: $spacing-unit--l 0 0;
    width: 100%;

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }

    @include media-breakpoint-up(md) {
      grid-gap: 10px;
      margin: 0;
    }

    @include media-breakpoint-up(lg) {
      grid-gap: 22px;
    }

    &.has-active {
      .mission-feature:not(.active) {
        @include media-breakpoint-up(md) {
          opacity: 0 !important;
        }
      }
    }

    > div:nth-child(1) {
      .mission-feature__inner {
        left: 0;
        top: 0;
      }

    }

    > div:nth-child(2) {
      .mission-feature__inner {
        right: 0;
        top: 0;
      }
    }

    > div:nth-child(3) {
      .mission-feature__inner {
        bottom: 0;
        left: 0;
      }
    }

    > div:nth-child(4) {
      .mission-feature__inner {
        bottom: 0;
        right: 0;
      }
    }
  }
}
