.path-drawer {
  $closeSize: 50px;
  $self: &;
  @mixin fullFixed() {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  @include fullFixed();
  transform: translateX(100%);
  transition: transform 0s .4s ease-in-out;
  z-index: index($globalIndex, pathDrawer);

  &__fog {
    @include fullFixed();
    background-color: $black;
    opacity: 0;
    z-index: index($globalIndex, pathDrawerFog);
  }

  &__inner {
    @include fullFixed();
    background-color: $white;
    height: 100%;
    left: auto;
    overflow: hidden;
    max-width: 992px;
    padding: 3vh 0 3vh 3vw;
    width: 100%;
    transform: translateX(100%);
    z-index: index($globalIndex, pathDrawerFog);

    @include media-breakpoint-up(md) {
      width: 90%;
    }

    .close-button {
      height: $closeSize;
      padding: 0;
      width: $closeSize;

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background: $black;
      }
    }
  }

  &__content {
    height: calc(100% - 6vh);
    padding: 1vh 3vw 1vh;
    overflow: auto;
  }

  &.open {
    transform: translateX(0);
    transition: none;

    #{$self}__fog {
      opacity: 0.8;
      transition: opacity .3s ease-in-out;
    }

    #{$self}__inner {
      transition: transform .2s ease-in-out;
      transform: translateX(0);

      @include media-breakpoint-up(md) {
        box-shadow: -26px 0 20px 0 rgba(0,0,0,0.2);
      }
    }
  }
}
